*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}
h1,h2,h3,p{
    margin: 0 0 15px;
}
.question-card{
            border: 2px solid violet;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
        }
        .question-card.reviewed{
            border-color:violet ;
        }
        .question-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
            grid-gap:20px;
        }
        nav{
            background-color: violet;
            padding: 30px 0;
        }
        nav a{
            margin: 0 20px;
            text-decoration: none;
            float: right;
        }